:root {
    --pale-green: #54E6AF;
    --dark-grey: #2C344B;
    --med-grey: #5A668A;
    --light-grey: #C2CBE5;
    --white: #FFFFFF;
    --black: rgba(18, 23, 37, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
div,
h1 {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  min-width: 375px;
  max-width: 1440px;
}

.page-container {
  width: 100vw;
  background-color: var(--black);
  background-blend-mode: darken;
}

picture > img {
  opacity: 0.15;
}



.info-box {
  position: absolute;
  top:38px;

  margin: 24px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.logo-img {
  display: block;
  margin: 0 auto;
  width: 134.85px;
  height: 56px;
}

p {
  text-align: center;
  
  font-weight: 400;
  
}

p:nth-child(2) {
  text-transform: uppercase;
  color: var(--pale-green);
  margin-top: 57px;
  font-size: 26px;
  line-height: 38px;
}

p span {
  color: var(--white);
}

p:nth-child(3) {
  font-size: 15px;
  line-height: 25px;
  color: var(--light-grey);
  margin-top: 16px;
}

.hosts {
  display: flex;
  justify-content: space-evenly;
  /* gap: px; */
  /* max-height: 12px; */
  width: 315px;
  margin: 33px 6px 48px 6px;
}

.host-img {
  max-height: 15px;
  max-width: 77px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 108px;

}

button {
  border-radius: 28px;
  background-color: var(--dark-grey);
  height: 46px;
  font-size: 14px;
  line-height: 28px;
  border: none;
}

#email {
  border-radius: 28px;
  background-color: var(--dark-grey);
  height: 46px;
  font-size: 14px;
  line-height: 28px;
  border: none;

  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.7;
  text-align: left;
  padding-left: 32px;
}

#request-access {
  color: var(--black);
  background-color: var(--pale-green);

}

/* classList.toggle("flipCard");
background: #B3FFE2;
box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913); */

#result {
  display: none;
  color: #FB3E3E;
  font-size: 12px;
}