:root {
  --pale-green: #54e6af;
  --dark-grey: #2c344b;
  --med-grey: #5a668a;
  --light-grey: #c2cbe5;
  --white: #ffffff;
  --black: rgba(18, 23, 37, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
div,
h1 {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  min-width: 375px;
  max-width: 1440px;
  max-height: 100vh;
  background-color: var(--black);
}

.page-container {
  width: 100vw;
  background-blend-mode: darken;
}

@media screen and (min-width: 600px) {
  .page-container {
    background-blend-mode: none;
    background-image: url(assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100vh;

  }
}

@media screen and (min-width: 992px) {
  .page-container {
    background-blend-mode: none;
    background-image: url(assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    max-width: 1400px;
    max-height: 100vh;

  }
}

@media screen and (min-width: 600px) {
  .host-container {
    position: absolute;
    width: 491px;
    height: 767px;
    overflow: hidden;
    right: 0;
    top: 0;
  }
}

@media screen and (min-width: 992px) {
  .host-container {
    position: absolute;
    width: 888px;
    height: 640px;
    overflow: hidden;
    right: 0;
    top: 130px;
  }
}


picture > img {
  opacity: 0.15;
}

@media screen and (min-width: 600px) {
  picture > img {
    position: absolute;
    opacity: 1;
    width: 100%;
    right: 0;
  }
}

@media screen and (min-width: 992px) {
  picture > img {
    position: absolute;
    opacity: 1;
  }
}

.logo-img {
  position: absolute;
  top: 62px;
  left: 50%;
  margin-left: -77.425px;
  width: 134.85px;
  height: 56px;
}

@media screen and (min-width: 600px) {
  .logo-img {
    top: 62px;
    left: 39px;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .logo-img {
    top: 102px;
    left: 165px;
    margin: 0;
  }
}

.info-box {
  position: absolute;
  top: calc(175px - 24px);

  margin: 24px;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .info-box {
    display: grid;
    grid-template-areas: "heading"
                          "text"
                          "inputs"
                          "results"
                          "hosts";
    top: calc(258px - 39px);
    margin: 39px;
    width: 635px;
    background-color: var(--black);
  }
}

@media screen and (min-width: 992px) {
  .info-box {
    display: grid;
    grid-template-areas: "heading"
                          "text"
                          "inputs"
                          "results"
                          "hosts";
    top: calc(261px - 165px);
    margin: 165px;
    width: 723px;
    background-color: var(--black);
  }
}

p {
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  p{
    text-align: left;
}}

p:nth-child(1) {
  text-transform: uppercase;
  color: var(--pale-green);
  font-size: 26px;
  line-height: 38px;
}

@media screen and (min-width: 600px) {
  p:nth-child(1) {
    grid-area: heading;
    font-size: 48px;
    line-height: 56px;
    margin-top: 93px
  }
}  

p span {
  color: var(--white);
}

p:nth-child(2) {
  font-size: 15px;
  line-height: 25px;
  color: var(--light-grey);
  margin-top: 16px;
}

@media screen and (min-width: 600px) {
  p:nth-child(2) {
  grid-area: text;

    font-size: 18px;
    line-height: 28px;
  margin-top: 31px;
  width: 445px;
  }
}

.hosts {
  display: flex;
  justify-content: space-evenly;
  width: 315px;
  margin: 33px 6px 48px 6px;
}
@media screen and (min-width: 600px) {
  .hosts {
    grid-area: hosts;
    width: 564px;
    bottom: 0;
    margin: 64px 0px 0px 0px;
  }}

.host-img {
  max-height: 15px;
  max-width: 77px;
}

@media screen and (min-width: 600px) {
  .host-img {
    max-height: 29px;
    max-width: 129px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 108px;
}

@media screen and (min-width: 600px) {
  .input-container {
    grid-area: inputs;
    flex-direction: row;
    height: 56px;
    width: 100%;
    margin-top: 40px;
    align-items:center;
  }
}

#email {
  border-radius: 28px;
  background-color: var(--dark-grey);
  height: 46px;
  font-size: 14px;
  line-height: 28px;
  border: none;

  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.7;
  text-align: left;
  padding-left: 32px;
}

@media screen and (min-width: 600px) {
  #email {
    height: 56px;
    width: 427px;
  }
}

#request-access {
  color: var(--black);
  background-color: var(--pale-green);
  border-radius: 28px;
  height: 46px;
  font-size: 14px;
  line-height: 28px;
  border: none;
}

@media screen and (min-width: 600px) {
  #request-access {
    height: 46px;
    width: 162px;
    transform: translateX(-217px)

  }
}

#result {
  display: none;
  grid-area: results;
  color: #fb3e3e;
  font-size: 12px;
}
